@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 1.5rem; */
  background-color: var(--vt-c-white-mute);
  
  background-image: url('./img/fondportfolio.jpg') ;
  background-repeat: no-repeat;
  background-position-x: center ;
  background-size: cover;
  overflow: hidden;
}


